

{% load tailwind_tags %}
{% tailwind_css %}
{% load static %}

<div class="min-h-full">

    <nav class="bg-gray-800">
        
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://citygas.hpcl.co.in/img/jwil.png" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
               
               
                <a href="{% url 'ContractEmployee:employee_detail' pk=employee.pk %}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
                <a href="{% url 'ContractEmployee:create_employee' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Add Employee</a>
                <a href="{% url 'ContractEmployee:delete_employee' pk=employee.pk %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Delete Employee Details</a>
                <a href="{% url 'ContractEmployee:edit_employee' pk=employee.pk %}" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Edit Employee Details</a>
            </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">View notifications</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
              </button>
                <div class="relative ml-3">
                <div>
                  <button type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>

              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            
            <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              
              <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              
              <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      
      <div class="md:hidden" id="mobile-menu">

        <div class="border-t border-gray-700 pb-3 pt-4">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">Tom Cook</div>
              <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
            </div>
            <button type="button" class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>
            </button>
          </div>

        </div>
      </div>
    </nav>
  
<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
    
            <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
              <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl text-center">
                <img src="{% static 'images/logo17.png' %}" alt="Logo" class="w-/4 mx-auto">
                 <br>
             </div>
                <table class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
                  
                  <thead
                  class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                  <thead class="border-b font-medium dark:border-neutral-500">
              
                  </thead>
                 
                  <tbody>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Employee ID</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.emp_id }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Employee Name</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.emp_name }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Date of Birth</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.dob }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Qualification</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.quali }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Organization Name</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.org_name }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Designation</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.desg }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Vendor Code</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.ven_code }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Basic Salary</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.basic }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Date of Joining</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.doj }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Gender</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.gender }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Address Line1</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{ employee.add1 }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Address Line2</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.add2 }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">PIN</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.pin }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Mobile</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.mob }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Email</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.email }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">ESIC Enrolled</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.esic_enrolled }}</td>
                  </tr>
                  <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">ESIC Location</td>
                      <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"> {{ employee.esic_location }}</td>
                  </tr>
                
                  </tbody>
                    </table>
                    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                        <div class="flex flex-1 justify-between sm:hidden">
                            <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 bg-red-600 text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Previous</a>
                            <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 bg-red-600 text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Next</a>
                        </div>
                        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                            <div>
                                <p class="text-sm text-gray-700">
                                    Showing
                                    <span class="font-medium">1</span>
                                    to
                                    <span class="font-medium">10</span>
                                    of
                                    <span class="font-medium">97</span>
                                    results
                                </p>
                            </div>
                            <div>
                                <div class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                                    {% if previous_employee %}
                                        <a href="{% url 'ContractEmployee:employee_detail' pk=previous_employee.pk %}" class="bg-red-600 px-2 py-1 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Previous </a>
                                    {% endif %}
                                    
                                    {% if next_employee %}
                                        <a href="{% url 'ContractEmployee:employee_detail' pk=next_employee.pk %}" class="bg-blue-600 px-2 py-1 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Next</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

</main>
</div>
